@media screen and (width < 994px) {
    .navbar{
        flex-direction: column;
        max-width: min-content;
        height: 100vh;
        right: 0;
        border: 0px;
        padding:32px;
    }


    .navbar > section > a{
        margin: 0 auto;
        border-left:0;
        border-top: 2px solid rgb(255 255 255 / 0.2); /* Corregido */
        padding:16px;
    }
}